<title-bar category="'Hello, I\'m Matt Miller.'"></title-bar>
<div class="nav">
  <h3>
    <a du-scrollspy="developer" offset="{{$ctrl.OFFSET}}" ng-click="$ctrl.goTo('developer')"><icon category="'developer'"></icon><span>Developer</span></a>
    <a du-scrollspy="designer" offset="{{$ctrl.OFFSET}}" ng-click="$ctrl.goTo('designer')"><icon category="'designer'"></icon><span>Designer</span></a>
    <a du-scrollspy="teacher" offset="{{$ctrl.OFFSET}}" ng-click="$ctrl.goTo('teacher')"><icon category="'teacher'"></icon><span>Teacher</span></a>
    <a du-scrollspy="adventurer" offset="{{$ctrl.OFFSET}}" ng-click="$ctrl.goTo('adventurer')"><icon category="'adventurer'"></icon><span>Adventurer</span></a>
  </h3>
  <hr />
  <p>
    <a ng-click="$ctrl.showEmail($event)" href="mailto:mattmillerart@gmail.com">{{$ctrl.email}}</a>
    <a href="https://calendly.com/mattmillerart/">Calender</a>
    <a href="https://github.com/facultymatt">Github</a>
    <a href="https://www.linkedin.com/in/mattmillerart">Linkedin</a>
  </p>
</div>