// variables
$black: #4A4A4A;
$orange: orange;
$border: 1px solid rgba(0,0,0,.1); // angular good to have styles 
[ng-click],
[ui-sref] {
  cursor: pointer;
}
// simple reset
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
// fix box sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
// app styles
body,
html {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Average Sans', sans-serif;
  color: $black;
  background: #F6F6F6;
}
hr {
  border-top: $border;
  margin: 20px 0;
}
::-moz-selection {
  background: $orange;
}
::selection {
  background: $orange;
}
p {
  margin-bottom: 1.2rem;
  line-height: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', cursive;
}
h1 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
icon {
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  background: white;
  img {
    width: 100%;
    vertical-align: middle;
  }
}
$homeLgSize: 80px;
$homeMdSize: 60px;
$margin: 10px;
.btn-back {
  width: $homeMdSize;
  height: $homeMdSize;
  position: absolute;
  img {
    width: 100%;
  }
}
.hello-credits {
  .text-reader {
    margin: 0;
  }
  p {
    margin-bottom: 0.8rem;
  }
  icon {
    position: absolute;
    bottom: 20px;
  }
}
.btn-home {
  position: fixed;
  left: 50%;
  bottom: 20px;
  border-radius: 50%;
  img {
    width: 100%;
  }
  &.btn-lg {
    margin-left: -$homeLgSize/2;
    width: $homeLgSize;
    height: $homeLgSize;
    .inner {
      width: $homeLgSize - $margin;
      margin-left: $margin/2;
      padding-top: $margin+2px;
    }
    // display: none;
  }
  &.btn-md {
    background: white;
    margin-left: -$homeMdSize/2;
    width: $homeMdSize;
    height: $homeMdSize;
    .inner {
      width: $homeMdSize - $margin;
      margin-left: $margin/2;
      padding-top: $margin/2;
    }
  }
  &.btn-md.btn-top {
    right: 20px;
    top: 5px;
    left: auto;
    margin-left: 0;
    bottom: auto;
  }
  &.btn-top-left {
    left: 10px;
    top: 10px;
    right: auto;
    margin-left: 0;
    bottom: auto;
  }
  &.btn-shadow {
    box-shadow: 0 2px 11px rgba(0,0,0,.25);
  }
}
.nav,
text-reader {
  margin: 18px 25px;
}
.nav {
  .primary-links a,
  .secondary-links a {
    display: block;
    text-decoration: none;
    color: $black;
    padding: 5px 0;
    margin: 0;
  }
  .primary-links a {
    span {
      margin: 0 10px;
    }
    line-height: 1.6rem;
    &.active span {
      text-decoration: underline;
    }
  }
  .secondary-links a {
    padding: 6px 11px;
    &.credits-link {
      margin-top: 1.5rem;
      font-size: 0.75rem;
    }
  }
  small {
    font-style: italic;
  }
  .hello-active {
    background: $orange;
  }
}
title-bar {
  background: white;
  width: 100%;
  display: inline-block;
  h1 {
    padding: 10px 20px;
    text-transform: capitalize;
  }
}
// photo-viewer
photo-viewer {
  height: 75%;
  width: 100%;
  img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%;
    height: 100%;
  }
  .photo-viewer-inner {
    width: 100%;
  }
}
// text-reader
text-reader {
  padding-bottom: 80px;
  float: left;
}
// big-screen
big-screen {
  .column-1 {
    width: 25%;
    height: 100%;
    position: fixed;
  }
  .column-2 {
    width: 75%;
    margin-left: 25%;
    background: white;
    padding-bottom: 60px;
    icon {
      width: 80px;
      margin-left: -14px;
    }
  }
  .category-page {
    max-width: 1000px;
    width: 100%;
    min-height: 580px;
    float: left;
    clear: both;
    position: relative;
    > .inner {
      float: left;
      width: 100%;
      padding: 40px 40px 50px;
    }
    text-reader {
      padding-bottom: 0;
      margin-left: 30px;
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  a.credits-link {
    position: absolute;
    bottom: 20px;
  }
  .hello-credits {
    text-reader {
      margin-left: 10px;
    }
  }
  title-bar {
    background: none;
  }
  .column-1,
  .column-2 {
    float: left;
  }
  .column-2 {
    photo-viewer,
    text-reader {
      float: left;
    }
    photo-viewer {
      width: 50%;
      min-height: 200px;
    }
    text-reader {
      width: 40%;
    }
  }
}